* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For convenience and future references. We can change this anytime, if needed. */
:root {
    --primary: #ff0000;
}

body {
    position: relative;
    background: #232323;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden; 
    overflow-y: auto; 
}
/*------CSS from Orig FIle------*/
/* *Header* */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 1000;
    background-color: rgba(27, 27, 27, 0.055);
}

.logo {
    width: 90px;
}

.header-right {
    display: flex;
    align-items: center;
}

.menu {
    color: #ffffff;
    font-size: 2rem;
    transition: 0.5s;
}

.menu.active {
    transform: rotateY(180deg);
}

.nav {
    display: flex;
    margin-right: 50px;
}

.nav li {
    list-style: none;
    margin: 0 20px;
}

.nav li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
}

.nav li a:hover {
    color: var(--primary);
} 

/* *Nav-Mobile* */
.nav-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.856);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 990;
    gap: 20px;
    opacity: 0;
    visibility: hidden;
}

.nav-mobile.active {
    opacity: 1;
    visibility: visible;
}

.nav-mobile li {
    position: relative;
    list-style: none;
}

.nav-mobile li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
}

.nav-mobile li a:hover {
    color: var(--primary);
}

.no-scroll {
    overflow: hidden;
}


/*------Page Layout------*/
.content-area {
    position: relative;
    max-width: 100vw;
    overflow: hidden;
}

.reference-container {
    color: white;
    position: relative;
    margin-top: 140px;
    margin-bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    max-width: 100vw; 
    padding: 0 15px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 20px;
    color: white; 
}
