* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For convenience and future references. We can change this anytime, if needed. */
:root {
    --primary: #ff0000;
}

body {
    position: relative;
    /* background: #000000; */
    background: #232323;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scroll */
    overflow-y: auto; /* Enable vertical scroll */
}
/*------CSS from Orig FIle------*/
/* *Header* */
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 1000;
    background-color: rgba(27, 27, 27, 0.055);
}

.logo {
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

.header-right {
    display: flex;
    align-items: center;
}

.menu {
    color: #ffffff;
    font-size: 2rem;
    transition: 0.5s;
}

.menu.active {
    transform: rotateY(180deg);
}

.nav {
    display: flex;
    margin-right: 50px;
}

.nav li {
    list-style: none;
    margin: 0 20px;
}

.nav li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
}

.nav li a:hover {
    color: var(--primary);
} 

/* *Nav-Mobile* */
.nav-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 990;
    gap: 20px;
    opacity: 0;
    visibility: hidden;
}

.nav-mobile.active {
    opacity: 1;
    visibility: visible;
}

.nav-mobile li {
    position: relative;
    list-style: none;
}

.nav-mobile li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
}

.nav-mobile li a:hover {
    color: var(--primary);
}


/*------Page Layout------*/
.content-area {
    display: grid;
    grid-template-rows: auto;
    row-gap: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 20%;
}

.title {
    background-color: #1b1b1b;
    position: relative;
    align-items: center;
    height: 240px;
    width: 100%;
    
}

h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
    color: white; 
}

.part-2-3 {
    color: white;
    position: relative;
    margin: auto;
    width: 80%;
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: white;
}

p {
    text-align: justify;
    line-height: 1.5;
    color: white;
}

/*---3D Printing content area layout---*/

.three-D-Printing_1 {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-bottom: 40px;
}

.image-1 {
    width: 100%;
    position: relative;
}
.three-D-Printing_2 {
    margin-bottom: 40px;
}

.typesof3dPrinting {
    margin-top: 30px;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}

.three-D-Printing_3 {
    margin-bottom: 80px;
}


/*-----Disruptive Impacts Layout-----*/
.disruptive-impacts {
    display: grid;
    grid-template-rows: auto;
    row-gap: 30px;
    margin-bottom: 40px;

}

.fields {
    text-align: center;
}

/*----Future Implications-----*/
.partIV {
    background-color: #1b1b1b;
    color: #ffffff;
    position: relative;
    align-items: center;
    height: px;
    width: 100%;
}

.conclusion {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    margin-top: 30px;
    margin-bottom: 5%;
}
